

<h3>Hellow @User.Identity.Name.Split('@').FirstOrDefault().ToUpper()</h3>
<div id="map"></div>
<div style="display:none;">
    <div id="form">
        <table>
            <tr><td>Title:</td><td><input type="text" , id="title" /></td></tr>
            <tr><td>Address:</td><td><input type="text" , id="address" /></td></tr>
            <tr>
                <td></td>
                <td><input type="button" value="Save" onclick="saveData();" /></td>
            </tr>
        </table>
    </div>
</div>


<div id="floating-panel">
    <input onclick="clearMarkers();" type=button value="Hide Markers">
    <input onclick="showMarkers();" type=button value="Show All Markers">

</div>



<button onclick="initMapAuth();">map load</button>

<p> <button onclick="talkToServer();"> Click me</button> </p>

<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
</script>



<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBb35GFpToNtidA7VfBEZS1vOEgiIxJ2vI&callback=initMapAuth">
</script>
